
.content {
    display: flex;
    width: 80vw;
    align-items: center;
    justify-content: center;
    gap: 30px;
    img {
        border-radius: 16px;
        
    }
}

.content1 {
    margin-top: 100px;
    display: flex;
    width: 80vw;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    img {
        border-radius: 16px;
        
    }
}

.lesson {
    display: flex;
    align-items: center;
    flex-direction: column;
    p {
        height: 50px;
    }
}