<div class="main">
    <div class="title">
        المبادرات والانشطة
    </div>
    <div class="continer mt-6">
        <div class="content">
            <p class="content-title">
                <a href="assets/content/activities/file1.pdf">
                    ازالة الكلمات المسيئة من على
                    جدران المدرسة
                </a>
            </p>
            <p class="content-title">
                <a href="assets/content/activities/file2.pdf">
                    تفعيل البرنامج التوعوي (صعوبات التعلم و بطء التعلم
                    و كيفية آلية تقييمهم )
                </a>
            </p>
            <p class="content-title">
                <a href="assets/content/activities/file3.pdf">
                    تفعيل اليوم العالمي
                    لاضطراب فرط الحركة و تشتت االنتباه
                </a>
            </p>
        </div>
    </div>
</div>