<div class="main">
    <div class="title">
        المبادرات والانشطة
    </div>
    <div class="continer mt-6">
        <div class="content">
            <p class="content-title">
                <a href="assets/content/activities/file1.pdf">
                    ازالة الكلمات المسيئة من على
                    جدران المدرسة
                </a>
            </p>
            <p class="content-title">
                <a href="assets/content/activities/file2.pdf">
                    تفعيل البرنامج التوعوي (صعوبات التعلم و بطء التعلم
                    و كيفية آلية تقييمهم )
                </a>
            </p>
            <p class="content-title">
                <a href="assets/content/activities/file3.pdf">
                    تفعيل اليوم العالمي
                    لاضطراب فرط الحركة و تشتت االنتباه
                </a>
            </p>
            <p class="content-title">
                <a href="assets/content/activities/file5.pdf">
                    اليوم العالمي لمتلازمة داون ٢٠٢٤ تحت شعار انهاء الصورة النمطية
                </a>
            </p>
            <p class="content-title">
                <a href="assets/content/activities/file6.pdf">
                    أسبوع الإعاقة الخليجي
                </a>
            </p>
            <p class="content-title">
                <a href="assets/content/activities/file7.pdf">
                    تفعيل اليوم الخليجي لصعوبات التعلم ١٤٤٥هـ
                </a>
            </p>
            <p class="content-title">
                <a href="assets/content/activities/file8.pdf">
                    مبادرة مفقودات الطالبات
                </a>
            </p>
            <p class="content-title">
                <a href="assets/content/activities/file9.pdf">
                    مسابقة القراءة لطالبات برنامج صعوبات التعلم
                </a>
            </p>
            <p class="content-title">
                <a href="assets/content/activities/file10.pdf">
                    توعية الطالبات بصعوبات التعلم
                </a>
            </p>
            <p class="content-title">
                <a href="assets/content/activities/file11.pdf">
                    تفعيل اليوم الوطني السعودي
                </a>
            </p>
            <p class="content-title">
                <a href="assets/content/activities/file12.pdf">
                    تفعيل اليوم العالمي لمتلازمة داون
                </a>
            </p>
        </div>
    </div>
</div>