<div class="main">
    <div class="title">
        تصاميم انتاج المعلمة
    </div>
    <div class="continer mt-6">
        <div class="content">
            <div class="lesson">
                <img src="assets/content/teacher-designs/image1.jpeg" width="250px" alt="">
            </div>
            <div class="lesson">
                <img src="assets/content/teacher-designs/image2.jpeg" width="250px" alt="">
            </div>
            <div class="lesson">
                <img src="assets/content/teacher-designs/image3.jpeg" width="250px" alt="">
            </div>
            <div class="lesson">
                <img src="assets/content/teacher-designs/image4.jpeg" width="250px" alt="">
            </div>
            <div class="lesson">
                <img src="assets/content/teacher-designs/image5.jpeg" width="250px" alt="">
            </div>
            <div class="lesson">
                <img src="assets/content/teacher-designs/image6.jpeg" width="250px" alt="">
            </div>
        </div>
        <video width="640" height="360" controls>
            <source src="assets/content/teacher-designs/vid1.mp4" type="video/mp4">
        </video>
    </div>
</div>