<div class="main">
    <div class="title">
        الدورات 
    </div>
    <div class="continer mt-6">
        <div class="content">
            <p class="content-title">
                <a href="assets/content/certifications/file2.pdf">

                    دور المعلم والمشرف في عالج الضعف القرائي والكتابي للصفوف الأولية
                </a>
            </p>
            <p class="content-title">
                <a href="assets/content/certifications/file3.pdf">
                    تعزيز مهارات القراءة باستخدام الذكاء االصطناعي
                </a>
            </p>
            <p class="content-title">
                <a href="assets/content/certifications/file4.pdf">
                    الرخصة المهنية تخصص صعوبات التعلم

                </a>
            </p>
            <p class="content-title">
                <a href="assets/content/certifications/file5.pdf">
                    المفاهيم البديلة والتفكير الناقد في المجتمع التعليمي
                </a>
            </p>
            <p class="content-title">
                <a href="assets/content/certifications/file1.pdf">
                    كيف أحاور ؟
                </a>
            </p>
        </div>
    </div>
</div>