<div class="main">
    <div class="title">
        الدورات
    </div>
    <div class="continer mt-6">
        <div class="content">
            <p class="content-title">
                <a href="assets/content/certifications/file1.pdf">
                    صعوبات التعلم مشكلات وحلول
                </a>
            </p>
            <p class="content-title">
                <a href="assets/content/certifications/file2.pdf">
                    دور المعلم والمشرف في عالج الضعف القرائي والكتابي للصفوف الأولية
                </a>
            </p>
            <p class="content-title">
                <a href="assets/content/certifications/file3.pdf">
                    تعزيز مهارات القراءة باستخدام الذكاء االصطناعي
                </a>
            </p>
            <p class="content-title">
                <a href="assets/content/certifications/file4.pdf">
                    الرخصة المهنية تخصص صعوبات التعلم

                </a>
            </p>
            <p class="content-title">
                <a href="assets/content/certifications/file5.pdf">
                    المفاهيم البديلة والتفكير الناقد في المجتمع التعليمي
                </a>
            </p>
            <p class="content-title">
                <a href="assets/content/certifications/file6.pdf">
                    أساسيات معايير و كفايات التربية الخاصة
                </a>
            </p>
            <p class="content-title">
                <a href="assets/content/certifications/file7.pdf">
                    مهارات صعوبات التعلم من التشخيص إلى التدريس
                </a>
            </p>
            <p class="content-title">
                <a href="assets/content/certifications/file8.pdf">
                    الذكاء الافتراضي و صعوبات التعلم
                </a>
            </p>
            <p class="content-title">
                <a href="assets/content/certifications/file9.pdf">
                    الذكاء الاصطناعي و خوارزميات التعلم
                </a>
            </p>
            <p class="content-title">
                <a href="assets/content/certifications/file10.pdf">
                    معلم التربية الخاصة في برنامج يسير التعليمي
                </a>
            </p>
            <p class="content-title">
                <a href="assets/content/certifications/file11.pdf">
                    ملتقى صعوبات التعلم (نحو تعلم أسهل)
                </a>
            </p>
            <p class="content-title">
                <a href="assets/content/certifications/file12.pdf">
                    العصا البيضاء و الكفيف
                </a>
            </p>
            <p class="content-title">
                <a href="assets/content/certifications/file13.pdf">
                    ملتقى التربية الخاصة (ذوي الإعاقة)
                </a>
            </p>
            <p class="content-title">
                <a href="assets/content/certifications/file14.pdf">
                    تنمية الفهم القرائي في التقويم المدرسي
                </a>
            </p>
            <p class="content-title">
                <a href="assets/content/certifications/file15.pdf">
                    لقاء رحلة التميز في التعليم
                </a>
            </p>
        </div>
    </div>
</div>