<div class="main">
    <div class="title">
        نماذج من أوراق العمل
    </div>
    <div class="continer mt-6">
        <div class="content">
            <p class="content-title" (click)="openDialog('file1')">
                <a href="assets/content/paperwork/file1.pdf"> مذكرة تنمية مهارات القراءة والكتابة لذوي صعوبات التعلم
                    الجزء الأول</a>
            </p>
            <p class="content-title" (click)="openDialog('file2')">
                <a href="assets/content/paperwork/file2.pdf">مشروع انطلاق كتاب الصف الأول</a>
            </p>
            <p class="content-title" (click)="openDialog('file3')">
                <a href="assets/content/paperwork/file3.pdf">
                    القراءة الهرمية
                </a>
            </p>
            <p class="content-title" (click)="openDialog('file4')">
                <a href="assets/content/paperwork/file4.pdf">
                    نصوص قرائية مع الأسئلة
                </a>
            </p>
            <p class="content-title" (click)="openDialog('file5')">
                <a href="assets/content/paperwork/file5.pdf">
                    التمارين المساعدة لإتقان الحروف الهجائية للطلاب ذوي صعوبات التعلم
                </a>
            </p>
            <p class="content-title" (click)="openDialog('file6')">
                <a href="assets/content/paperwork/file6.pdf">
                    القاعدة الذهبية لتعلم القراءة و الكتابة
                </a>
            </p>
            <p class="content-title" (click)="openDialog('file7')">
                <a href="assets/content/paperwork/file7.pdf">
                    ألون حروفي
                </a>
            </p>
            <p class="content-title">
                <a href="https://app.box.com/s/ji07vuuykgotpotrz78806hvnyhxhds5">
                    مهارات اللغة العربية 
                </a>
            </p>
            <p class="content-title" (click)="openDialog('file8')">
                <a href="assets/content/paperwork/file8.pdf">
                    أنشطة تهيئة ما قبل الكتابة
                </a>
            </p>
            <p class="content-title" (click)="openDialog('file9')">
                <a href="assets/content/paperwork/file9.pdf">
                    مفاتيح القراءة و الكتابة
                </a>
            </p>
            <p class="content-title" (click)="openDialog('file10')">
                <a href="assets/content/paperwork/file10.pdf">
                    هيّا نكتب (تعبير كتابي)
                </a>
            </p>
            <p class="content-title" (click)="openDialog('file11')">
                <a href="assets/content/paperwork/file11.pdf">
                    البرنامج العلاجي لمهارات القراءة و الكتابة
                </a>
            </p>
            <p class="content-title" (click)="openDialog('file12')">
                <a href="assets/content/paperwork/file12.pdf">
                    اكتشف حرف المد المفقود
                </a>
            </p>
            <p class="content-title" (click)="openDialog('file13')">
                <a href="assets/content/paperwork/file13.pdf">
                    لعبة فهم المقروء
                </a>
            </p>
            <p class="content-title" (click)="openDialog('file14')">
                <a href="assets/content/paperwork/file14.pdf">
                    نصوص قرائية للفهم القرائي
                </a>
            </p>
            <p class="content-title" (click)="openDialog('file15')">
                <a href="assets/content/paperwork/file15.pdf">
                    نصوص قرائية للفهم القرائي ٢
                </a>
            </p>
            <p class="content-title" (click)="openDialog('file16')">
                <a href="assets/content/paperwork/file16.pdf">
                    رحلة مع الأضداد
                </a>
            </p>
            <p class="content-title" (click)="openDialog('file17')">
                <a href="assets/content/paperwork/file17.pdf">
                    كراسة لغتي أ/مها الغنبوصية
                </a>
            </p>
        </div>
    </div>
</div>
<!-- 
<p-dialog header="اهداف برنامج صعوبات التعلم" [(visible)]="visible" [style]="{width: '70vw'}">
    <object [data]="'assets/content/paperwork/'+ filename+'.pdf' | safe" type="application/pdf"  height="100%">
        <p>Alternative text - include a link <a [href]="'assets/content/paperwork/'+ filename+'.pdf' | safe">to the PDF!</a></p>
    </object>
</p-dialog> -->