<div class="main">
    <div class="title">
        البيئة التـــعلـــيمـــية
    </div>
    <div class="continer mt-6">
        <div class="content">
            <div class="lesson">
                <img src="assets/content/disabilities-program/image1.jpeg" width="250px" alt="">
            </div>
            <div class="lesson">
                <img src="assets/content/disabilities-program/image2.jpeg" width="250px" alt="">
            </div>
            <div class="lesson">
                <img src="assets/content/disabilities-program/image3.jpeg" width="250px" alt="">
            </div>
            <div class="lesson">
                <img src="assets/content/disabilities-program/image4.jpeg" width="250px" alt="">
            </div>
            <div class="lesson">
                <img src="assets/content/disabilities-program/image5.jpeg" width="250px" alt="">
            </div>
            <div class="lesson">
                <img src="assets/content/disabilities-program/image6.jpeg" width="250px" alt="">
            </div>
            <div class="lesson">
                <img src="assets/content/disabilities-program/image7.jpeg" width="250px" alt="">
            </div>
            <div class="lesson">
                <img src="assets/content/disabilities-program/image8.jpeg" width="250px" alt="">
            </div>
            <div class="lesson">
                <img src="assets/content/disabilities-program/image9.jpeg" width="250px" alt="">
            </div>
            <div class="lesson">
                <img src="assets/content/disabilities-program/image10.jpeg" width="250px" alt="">
            </div>
            <div class="lesson">
                <img src="assets/content/disabilities-program/image11.jpeg" width="250px" alt="">

            </div>
            <div class="lesson">
                <img src="assets/content/disabilities-program/image12.jpeg" width="250px" alt="">
            </div>
            <div class="lesson">
                <img src="assets/content/disabilities-program/image13.jpeg" width="250px" alt="">
            </div>
            <div class="lesson">
                <img src="assets/content/disabilities-program/image14.jpeg" width="250px" alt="">
            </div>
            <div class="lesson">
                <img src="assets/content/disabilities-program/image15.jpeg" width="250px" alt="">
            </div>
            <div class="lesson">
                <img src="assets/content/disabilities-program/image16.jpeg" width="250px" alt="">
            </div>
            <div class="lesson">
                <img src="assets/content/disabilities-program/image17.jpeg" width="250px" alt="">
            </div>
        </div>
    </div>
</div>