<div class="main">
    <!-- <div class="menu">
      <i class="pi pi-bars" (click)="menu.toggle($event)"></i>
    </div> -->
    <div class="title">
        خلود الدغيشم
        <div class="sub-title">
            معلمة صعوبات تعلم برتبة متقدم
            <br>
            المدرسة الابتدائية الثانية بحي الشقة ببريدة
        </div>
        <div class="content pt-3">
            معلمة تربية خاصة -صعوبات تعلُّم- أتمتع بخبرة تزيد عن ٩ سنوات في تقديم و تنفيذ خدمة التدريس مباشرةً لطالبات
            صعوبات التعلم في غرفة المصادر، اعداد التحضير اليومي و ما يرتبط به من اختيار الاستراتيجيات التعليمية المناسبة
            و أوراق التدريبات و أوراق التقويم، و استخدام التقنية الحديثة في التدريس، تقديم الاستشارات للأهالي و معلمي
            التعليم العام و القدرة على القيام بعمليات المسح و التشخيص والتعرف لاكتشاف طالبات صعوبات التعلم في المدرسة،
            دعم و مساعدة الطالبات على اكتساب المهارات التواصلية و الاجتماعية التي تمكنهم من النجاح في المدرسة و في
            الحياة العامة باستقلال.

        </div>
        <!-- <button (click)="downloadCv()" class="primary" style="width: 20%; min-width: fit-content;">تحميل السيرة الذاتية</button> -->

    </div>
    <div class="galleria">
        <div *ngFor="let image of images">
            <div class="image" [style]="'background-color:'+ image.color" (click)="openContent(image.number)">
                <img [style]="image.number === '01' ||  image.number === '09'? 'opacity: 70%' : ''"
                    [src]="'assets/images/dashboard/'+image.img">
                <p class="title">{{image.title}}</p>
                <p class="sub-title">
                    <span *ngFor="let string of image.subtitle">
                        {{string}}
                        <br>
                    </span>
                </p>
                <div class="circle">
                    <p [style]="'color:'+ image.indexColor">{{image.number}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<p-dialog header="أهداف برنامج صعوبات التعلم" [(visible)]="dialog1" [style]="{width: '70vw'}">
    <span class="mt-6 pt-6">
        يهدف برنامج صعوبات التعلم في المرحلة الابتدائية بوجه عام إلى توفير الخدمات التربوية و الخدمات المساندة للطلاب
        الذين
        لديهم صعوبات تعلم وذلك على النحو التالي:
        <br>
        <ul>
            <li>

                ١. اكتشاف الطلاب الذين لديهم صعوبات تعلم
            </li>
            <li>

                ٢. التدخل التربوي و التعليمي للطلاب الذين تم اكتشافهم، و مساعدتهم على التغلب على هذه الصعوبات و كيفية
                التعامل
                معها
            </li>
            <li>

                ٣. تقديم الخدمات للطلاب في البيئات الأقل تقييدًا
            </li>
            <li>

                ٤. دعم الأسر و إرشادهم في التعامل مع احتياجات أبنائهم
            </li>
            <li>
                ٥. العمل على نشر ثقافة برنامج صعوبات التعلم في المرحلة الابتدائية
            </li>
        </ul>
    </span>
</p-dialog>

<p-dialog header="الاتجاه الاستراتيجي للمدرسة" [(visible)]="dialog2" [style]="{width: '70vw'}">
    <span class="mt-6 pt-6">
        <p style="font-weight: 500;">رؤية المدرسة:</p>
        <p style="font-weight: 100;">إعداد جيل متميز فطن قادر على العطاء و المنافسة</p>
        <p style="font-weight: 500;">رسالة المدرسة:</p>
        <p style="font-weight: 100;">نحن المدرسة الابتدائية الثانية بالشقة بعون الله تعالى نسعى لتقديم تعليم بمعايير
            حديثة و جودة عالية و توفير
            بيئة جاذبة محققة للشراكة المجتمعية بين الأفراد في المجتمع و العاملين في المدرسة لإعداد جيل متميز بخلقه و
            سلوكه و عمله و قادر على المنافسة العالمية لخدمة دينه و وطنه.</p>
        <p style="font-weight: 500;">قيم المدرسة:</p>
        <ul style="font-weight: 100;">
            <li>
                ⁃ تقوى الله عزوجل في السر و العلن.
            </li>
            <li>
                ⁃ بر الوالدين.

            </li>
            <li>
                ⁃ المواطنة و الانتماء.

            </li>
            <li>
                ⁃ التقدير و الاحترام.

            </li>
            <li>
                ⁃ الجودة و التميز و الإبداع.

            </li>
            <li>
                ⁃ تحمل المسؤولية و العمل الجماعي.
            </li>
        </ul>
    </span>
</p-dialog>