<div class="main">
    <!-- <div class="menu">
      <i class="pi pi-bars" (click)="menu.toggle($event)"></i>
    </div> -->
    <div class="title">
        خلود الدغيشم
        <div class="sub-title">
            معلمة صعوبات تعلم
            <br>
            المدرسة الابتدائية الثانية بحي الشقة ببريدة
        </div>
        <!-- <button (click)="downloadCv()" class="primary" style="width: 20%; min-width: fit-content;">تحميل السيرة الذاتية</button> -->

        <!-- <div class="content pt-3">
            ن الثقافة البصرة أصبحت في الوقت الحاضر تعتبر بالغة الأهمة، وموجه لكثر من
            التفاعلات الإنسانة والتي بدورها تشكل ثقافة الفرد تأثر وؤثر فها، فالثقافة البصرة تختلف
            من مجتمع و آخر ومن فرد لفرد، فالمجتمع الذي تحط به وسائل الاتصال البصرة المعاصرة
            كالتلفزون، السنما، الانترنت، الوسائط المتعددة، والإعلانات التجارة، ختلف في مخزونه
            البصر الثقاف عن المجتمع الأقل من ذلك التأثر. فالثقافة البصرة مصادرها متنوعة في
            عصرنا الحاضر، فإذا ما استغلت جدا فهي تسهم في التكون الاجاب لمفردات الحاة وقد
            ٕ تسهم في التشكل السلب واخفاء الحققة أحانا
            . وهي تسهم في مجالات كثرة ونهل منها
            أضا ، ومن هذه المجالات هو مجال الفنون التشكلة بشتى فروعه ودوره الذي لا </div> -->
    </div>
    <div class="galleria">
        <div *ngFor="let image of images">
            <div class="image" [style]="'background-color:'+ image.color" (click)="openContent(image.number)">
                <img [style]="image.number === '01' ? 'opacity: 70%' : ''" [src]="'assets/images/dashboard/'+image.img">
                <p class="title">{{image.title}}</p>
                <p class="sub-title">
                    <span *ngFor="let string of image.subtitle">
                        {{string}}
                        <br>
                    </span>
                </p>
                <div class="circle">
                    <p [style]="'color:'+ image.indexColor">{{image.number}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<p-dialog header="اهداف برنامج صعوبات التعلم" [(visible)]="dialog1" [style]="{width: '70vw'}">
    <span class="mt-6 pt-6">
        يهدف برنامج صعوبات التعلم في المرحلة الابتدائية بوجه عام إلى توفير الخدمات التربوية و الخدمات المساندة للطلاب
        الذين
        لديهم صعوبات تعلم وذلك على النحو التالي:
        <br>
        <ul>
            <li>

                ١. اكتشاف الطلاب الذين لديهم صعوبات تعلم
            </li>
            <li>

                ٢. التدخل التربوي و التعليمي للطلاب الذين تم اكتشافهم، و مساعدتهم على التغلب على هذه الصعوبات و كيفية
                التعامل
                معها
            </li>
            <li>

                ٣. تقديم الخدمات للطلاب في البيئات الأقل تقييدًا
            </li>
            <li>

                ٤. دعم الأسر و إرشادهم في التعامل مع احتياجات أبنائهم
            </li>
            <li>
                ٥. العمل على نشر ثقافة برنامج صعوبات التعلم في المرحلة الابتدائية
            </li>
        </ul>
    </span>
</p-dialog>