.main {
    margin: 50px;
    margin-top: 100px;
    padding: 20px;
    direction: rtl;
}

.menu {
    height: 35px;
    width: 35px;
    background-color: #fff;
    border-radius: 50%;
    border: black solid 0.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 40px;
    font-weight: 600;
    .sub-title {
        font-size: 26px;
        font-weight: 400;
        // font-family: yosuf;
    }
    .content {
        font-size: 24px;
        font-weight: 200;
    }
}

.galleria {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    align-items: center;
    justify-content: center;
}
.image {
    width: 200px;
    height: 350px;
    background-color: #fff;
    border: solid black 0.5px;
    border-radius: 8px;
}
// :host:ng- {
//     .p-menu ul {
//         margin: 0;
//         padding: 0;
//         list-style: none;
//         background: #fff;
//         border: black solid 0.5px;
//         border-radius: 16px;
//         padding: 20px;
//     }
// }
.caption-list--double {
    padding-top: 15px;
    padding-bottom: 15px
}

.caption-list--double>*:not(:first-child) {
    margin-left: 30px
}

.caption-list--double .caption-list--wrapper {
    text-align: center;
    height: 226px
}

.caption-list--double .caption-list--wrapper:not(.caption-list--more) {
    box-shadow: 0px 1px 2px rgba(66,66,66,0.1),0px 3px 6px rgba(66,66,66,0.15)
}

.caption-list--item {
    display: block;
    position: relative
}

.caption-list--item:hover .caption-list--wrapper:after {
    opacity: 1
}

.caption-list--item:hover .caption-list--image {
    top: -3px;
    left: -3px;
    width: calc(100% + 6px);
    height: calc(100% + 6px)
}

.caption-list--item:hover .caption-list--subtitle {
    opacity: 1;
    margin-bottom: 0
}

.caption-list--background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform: rotate(5deg);
    opacity: 0.3;
    transition: 0.2s all ease-out
}

.caption-list--wrapper {
    position: relative;
    overflow: hidden;
    width: 180px;
    min-width: 180px;
    height: 230px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    padding: 15px
}

.caption-list--wrapper:before,.caption-list--wrapper:after {
    content: "";
    z-index: 1;
    // background: linear-gradient(180deg, rgba(0,0,0,0) 40%, rgba(0,0,0,0.5) 100%)
}

.caption-list--wrapper:after {
    background: linear-gradient(180deg, rgba(0,0,0,0.2) 40%, rgba(0,0,0,0.1) 100%);
    opacity: 0
}

.caption-list--wrapper:before,.caption-list--wrapper:after,.caption-list--image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.2s all ease-out;
    border-radius: 10px
}

.caption-list--image {
    object-fit: cover;
    object-position: center
}

.caption-list--more {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 1px solid #d8d8d8
}

.caption-list--more:before,.caption-list--more:after {
    display: none
}

.caption-list--title,.caption-list--subtitle {
    position: relative;
    z-index: 2;
    margin: 0;
    color: #ffffff;
    font-size: 15px;
    line-height: 1.6
}

.caption-list--subtitle {
    font-size: 13px;
    font-weight: 400;
    opacity: 0;
    margin-bottom: -18px;
    transition: 0.2s all ease-out
}