:host::ng-deep {
  .p-dialog {
    background-color: #fff;
    padding: 25px;
    border-radius: 16px;
    // text-align: right;
    direction: rtl;
    ul {
      list-style-type: none;
    }
  }
  .p-dialog-draggable .p-dialog-header {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1rem;
  }
}
