<div class="main">
  <!-- <div class="menu">
    <i class="pi pi-bars" (click)="menu.toggle($event)"></i>
  </div> -->
  <div class="title">
    خلود الدغيشم
    <div class="sub-title">
      معلمة صعوبات تعلم
    </div>
    <div class="content pt-3">
      ن الثقافة البصرة أصبحت في الوقت الحاضر تعتبر بالغة الأهمة، وموجه لكثر من
      التفاعلات الإنسانة والتي بدورها تشكل ثقافة الفرد تأثر وؤثر فها، فالثقافة البصرة تختلف
      من مجتمع و آخر ومن فرد لفرد، فالمجتمع الذي تحط به وسائل الاتصال البصرة المعاصرة
      كالتلفزون، السنما، الانترنت، الوسائط المتعددة، والإعلانات التجارة، ختلف في مخزونه
      البصر الثقاف عن المجتمع الأقل من ذلك التأثر. فالثقافة البصرة مصادرها متنوعة في
      عصرنا الحاضر، فإذا ما استغلت جدا فهي تسهم في التكون الاجاب لمفردات الحاة وقد
      ٕ تسهم في التشكل السلب واخفاء الحققة أحانا
      . وهي تسهم في مجالات كثرة ونهل منها
      أضا ، ومن هذه المجالات هو مجال الفنون التشكلة بشتى فروعه ودوره الذي لا </div>
  </div>
  <div class="galleria pt-6">
    <div class="caption-list--item">
      <!-- <img class="caption-list--background"
        src="https://img.freepik.com/premium-photo/woman-with-her-eyes-closed-abstract-photo_893012-158685.jpg?size=626&ext=jpg"
        title="Winter Vibes" loading="lazy"> -->
        <div class="caption-list--background" style="background-color: #C4A092;"></div>
      <div class="caption-list--wrapper">
        <div class="caption-list--image" style="background-color: #C4A092;"></div>
        <!-- <img class="caption-list--image"
          src="https://img.freepik.com/premium-photo/woman-with-her-eyes-closed-abstract-photo_893012-158685.jpg?size=626&ext=jpg"
          title="Winter Vibes" loading="lazy"> -->
        <p class="caption-list--title overflow-lines">نماذج شهادات الطالبات</p>
        <p class="caption-list--subtitle">
          150 مصدر
        </p>
      </div>
    </div>
    <div class="caption-list--item">
      <img class="caption-list--background"
        src="https://img.freepik.com/premium-photo/woman-with-her-eyes-closed-abstract-photo_893012-158685.jpg?size=626&ext=jpg"
        title="Winter Vibes" loading="lazy">
      <div class="caption-list--wrapper">
        <img class="caption-list--image"
          src="https://img.freepik.com/premium-photo/woman-with-her-eyes-closed-abstract-photo_893012-158685.jpg?size=626&ext=jpg"
          title="Winter Vibes" loading="lazy">
        <p class="caption-list--title overflow-lines">اهداف برنامج صعوبات التعلم</p>
        <p class="caption-list--subtitle">
          150 مصدر
        </p>
      </div>
    </div>
    <div class="caption-list--item">
      <img class="caption-list--background"
        src="https://img.freepik.com/premium-photo/woman-with-her-eyes-closed-abstract-photo_893012-158685.jpg?size=626&ext=jpg"
        title="Winter Vibes" loading="lazy">
      <div class="caption-list--wrapper">
        <img class="caption-list--image"
          src="https://img.freepik.com/premium-photo/woman-with-her-eyes-closed-abstract-photo_893012-158685.jpg?size=626&ext=jpg"
          title="Winter Vibes" loading="lazy">
        <p class="caption-list--title overflow-lines">المبادرات والانشطة</p>
        <p class="caption-list--subtitle">
          150 مصدر
        </p>
      </div>
    </div>
    <!-- <div class="image"></div>
    <div class="image"></div>
    <div class="image"></div>
    <div class="image"></div> -->
  </div>
</div>

<p-menu #menu [model]="menuItems" [popup]="true"></p-menu>