
<router-outlet></router-outlet>


<!-- <p-menu #menu [model]="menuItems" [popup]="true"></p-menu> -->

<!-- <div class="caption-list--item">
  <div class="caption-list--background" style="background-color: #C4A092;"></div>
  <div class="caption-list--wrapper">
    <div class="caption-list--image" style="background-color: #C4A092;"></div>
    <p class="caption-list--title overflow-lines">نماذج شهادات الطالبات</p>
    <p class="caption-list--subtitle">
      150 مصدر
    </p>
  </div>
</div>
<div class="caption-list--item">
  <img class="caption-list--background"
    src="https://img.freepik.com/premium-photo/woman-with-her-eyes-closed-abstract-photo_893012-158685.jpg?size=626&ext=jpg"
    title="Winter Vibes" loading="lazy">
  <div class="caption-list--wrapper">
    <img class="caption-list--image"
      src="https://img.freepik.com/premium-photo/woman-with-her-eyes-closed-abstract-photo_893012-158685.jpg?size=626&ext=jpg"
      title="Winter Vibes" loading="lazy">
    <p class="caption-list--title overflow-lines">اهداف برنامج صعوبات التعلم</p>
    <p class="caption-list--subtitle">
      150 مصدر
    </p>
  </div>
</div> -->