<div class="main">
    <div class="title">
        ملاحظات مديرة المدرسة
    </div>
    <div class="continer mt-6">
        <div class="content">
                <img src="assets/content/notes/image1.jpeg" width="250px" alt="">
                <img src="assets/content/notes/image2.jpeg" width="250px" alt="">
        </div>
        <div class="content1">
            <object [data]="'assets/content/notes/file1.pdf' | safe" type="application/pdf" width="100%"
                height="600px">
            </object>
        </div>
    </div>
</div>