<div class="main">
    <div class="title">
        توثيق التفاعل بين المدرسة والمعلمة
    </div>
    <div class="continer mt-6">
        <div class="content">
            <img src="assets/content/schoolxteacher/image1.jpeg" width="250px" alt="">
            <img src="assets/content/schoolxteacher/image2.jpeg" width="250px" alt="">
            <img src="assets/content/schoolxteacher/image3.jpeg" width="250px" alt="">
            <img src="assets/content/schoolxteacher/image4.jpeg" width="250px" alt="">
            <img src="assets/content/schoolxteacher/image5.jpeg" width="250px" alt="">
            <img src="assets/content/schoolxteacher/image6.jpeg" width="250px" alt="">
            <img src="assets/content/schoolxteacher/image7.jpeg" width="250px" alt="">
            <img src="assets/content/schoolxteacher/image8.jpeg" width="250px" alt="">
            <img src="assets/content/schoolxteacher/image9.jpeg" width="250px" alt="">
            <img src="assets/content/schoolxteacher/image10.jpeg" width="250px" alt="">
            <img src="assets/content/schoolxteacher/image11.jpeg" width="250px" alt="">
            <img src="assets/content/schoolxteacher/image12.jpeg" width="250px" alt="">
            <img src="assets/content/schoolxteacher/image13.jpeg" width="250px" alt="">
            <img src="assets/content/schoolxteacher/image14.jpeg" width="250px" alt="">
        </div>
    </div>
</div>