<div class="main">
    <div class="title">
        نماذج شهادات الطالبات
    </div>
    <div class="continer mt-6 " style="gap: 50px;">
        <div class="content" style="height: 100%;">
                <object [data]="'assets/content/stud-cert/file1.pdf' | safe" type="application/pdf" width="100%"  height="100%">
                </object>
        </div>
        <div class="content">
            <!-- <object [data]="'assets/content/stud-cert/file2.pdf' | safe" type="application/pdf" width="100%"  height="100%">
            </object> -->
            <img src="assets/content/stud-cert/file2.jpeg" alt="" width="90%">
    </div>
    </div>
</div>