/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: "yosuf";
  font-style: light;
  font-weight: 200;
  src: local("Quicksand Light"), url("assets/fonts/ArbFONTS-BARASH.ttf");
}

@font-face {
    font-family: "yosufb";
    font-style: light;
    font-weight: 200;
    src: local("Quicksand Light"), url("assets/fonts/Beirut.ttc");
  }
  @font-face {
    font-family: 'Tajawal';
    font-style: light;
    font-weight: 200;
    src: local('Tajawal Extra Light'), url('assets/fonts/Tajawal/Tajawal-ExtraLight.ttf');
  }
  @font-face {
    font-family: 'Tajawal';
    font-style: light;
    font-weight: 300;
    src: local('Tajawal Light'), url('assets/fonts/Tajawal/Tajawal-Light.ttf');
  }
  @font-face {
    font-family: 'Tajawal';
    font-style: normal;
    font-weight: 400;
    src: local('Tajawal Regular'), url('assets/fonts/Tajawal/Tajawal-Regular.ttf');
  }
  @font-face {
    font-family: 'Tajawal';
    font-style: medium;
    font-weight: 500;
    src: local('Tajawal Medium'), url('assets/fonts/Tajawal/Tajawal-Medium.ttf');
  }
  @font-face {
    font-family: 'Tajawal';
    font-style: bold;
    font-weight: 600;
    src: local('Tajawal Bold'), url('assets/fonts/Tajawal/Tajawal-Black.ttf');
  }
body {
  background-color: #f8f7f2;
  font-family: Tajawal;
}
