<div class="main">
    <div class="title">
        الوسائل التـــعلـــيمـــية
    </div>
    <div class="continer mt-6">
        <div class="content">
            <div class="lesson">
                <img src="assets/content/lessons/image1.jpeg" width="250px" alt="">
                <p>بطاقات التحليل الصوتي للكلمات</p>
            </div>
            <div class="lesson">
                <img src="assets/content/lessons/image2.jpeg" width="250px" alt="">
                <p>وسيلة صيد الذباب للكلمات و الحروف</p>
            </div>
            <div class="lesson">
                <img src="assets/content/lessons/image3.jpeg" width="250px" alt="">
                <p>بطاقات الحروف بأصواتهن القصيرة <br>و الطويلة و الساكنة</p>
            </div>
            <div class="lesson">
                <img src="assets/content/lessons/image4.jpeg" width="250px" alt="">
                <p>بطاقات الكلمات و الجمل</p>
            </div>
            <div class="lesson">
                <img src="assets/content/lessons/image5.jpeg" width="250px" alt="">
                <p>وسيلة بوبيت للحروف
                </p>            
            </div>
            <div class="lesson">
                <img src="assets/content/lessons/image6.jpeg" width="250px" alt="">
                <p>وسيلة ضع كفّك ✋</p>
            </div>
            <div class="lesson">
                <img src="assets/content/lessons/image7.jpeg" width="250px" alt="">
                <p>وسيلة الحروف الملونة</p>
            </div>
            <div class="lesson">
                <img src="assets/content/lessons/image8.jpeg" width="250px" alt="">
                <p>وسيلة صيد الأسماك</p>
            </div>
            <div class="lesson">
                <img src="assets/content/lessons/image9.jpeg" width="250px" alt="">
                <p>وسيلة ارمي النرد و اقرأ</p>
            </div>
            <div class="lesson">
                <img src="assets/content/lessons/image10.jpeg" width="250px" alt="">
                <p>وسيلة الدمى</p>
            </div>
        </div>
    </div>
</div>